<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Weather @ Penrod</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <script src="js/formEvents.js"></script>
</head>
<body style="text-align: center">
    <div class="slds-grid slds-grid_align-center">
    <!-- city chooser form -->
    <div class="slds-col slds-size_1-of-1">
    <h1>Penrod Salesforce Consulting has offices in four American cities.</h1>
    <fieldset class="slds-form-element">
        <legend class="slds-form-element__label slds-align_absolute-center" style="font-size: 16pt">
            Select a city to view local weather conditions
        </legend>

        <form class="slds-form-element__control slds-m-around_large" name="city_select">
            {{#each cities}}
                <!-- visual picker element -->
                <div class="slds-visual-picker slds-visual-picker_medium">
                    <input type="radio" id="visual-picker-{{@index}}" onchange="selectCity('{{name}}', {{id}})"/>
                    <label for="visual-picker-{{@index}}">
                        <span class="slds-visual-picker__figure slds-visual-picker__icon slds-align_absolute-center">
                            <img class="custom-button-img" src="/assets/images/cities/{{name}}.png" alt="{{name}}">
                        </span>
                        <span class="slds-visual-picker__body">
                            <span class="slds-text-title">{{name}}</span>
                        </span>
                    </label>
                </div>
            {{/each}}
        </form>
    </fieldset></div>

    <!--loading icon overlay 
        appears when a city is chosen -->
        <div id="loading_overlay">
            <div class="slds-grid  slds-align_absolute-center" style="height:100%">
                <div class="demo-only demo-only demo-only_viewport" style="height:6rem">
                <div role="status" class="slds-spinner slds-spinner_medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
